/*   kontakt uprava pre mensie zariadenia */
@media only screen and (max-width: 920px)
   {
    .formular  input{
      width: 90%;
  }
 }

/* keramika uprava pre mensie zariadenia */
 @media only screen and (max-width: 530px)
     {
     .keramikprvy .rovnako{
       width: 360px;
     }
}


/* navigacia zmena na hamburger*/
@media only screen and (max-width: 1250px)
     {
     .navigacia {
       display: none;
     }
     .onas .textonas {
       margin: 20px;
     }  
 }

/*  VYPNUTY HAMBRUGER PRI VELKEJ OBRAZOVKE  */
@media only screen and (min-width: 1250px){
    .navigaciamobil{
    display: none;
    
   
    border: 2px green solid;
  }
  .navigacia2 a{
    display: none;
  }
  
 }

 /* LOGO zmizne kvoli menu */
 @media only screen and (max-width: 665px){
  .logo{
    display: none;
  }
  .navigaciasama{
    justify-content: flex-end;
  }
  .portfoliocele img{
    width: 420px;
  }
 }
 /* RESPONZIVITA NA MOBILNE TELEFONY */

 /* 360 - 640 */

 
 @media only screen and (max-width: 541px)
 {
 header{
  width: 540px;
  min-height: 1200x;
 }
 footer{
    min-width: 540px;
 }
 header .stred h1{
  font-size: 25px;
}
header .stred h4{
  font-size: 15px;
}
.kontaktprava{
  min-width: 350px;
}
.kontaktlava{
  min-width: 350px;
}
.prvylavy{
  width: 380px;
  }
  .prvystredny{
  width: 380px;
  }
  .prvypravy{
  width: 380px;
  }
  .prvyspolu .price{
    font-size: 25px;
  }
  .keramikaspolu h1{
    font-size: 30px;
  }
  .cennikspolu h1{
  font-size: 30px;
  }
  .cennikspolu h2{
    font-size: 25px;
  }
  .portfoliocele h1{
    font-size: 30px;
  }
  .nadpisonas h2{
    font-size: 30px;
  }
  .kontaktnadpis{
    font-size: 30px;
  }
  .socialne{
    padding: 10px 30px;
  }
  .socialnesiete img{
   width: 50px;
  }
  .socialnesiete{
    width: 150px;
  }
  .stred .button a{
    font-size: 18px;
  }
 } 

 @media only screen and (max-width: 415px)
 {
 header{
  width: 414px;
  min-height: 840px;
 }
 footer{
    min-width: 414px;
 }
 .portfoliocele img{
  width: 400px;
  
  
}  
 }


 @media only screen and (max-width: 412px)
 {
 header{
  width: 411px;
  min-height: 840px;
 }
 footer{
    min-width: 411px;
 }
 header .stred h1{
  font-size: 25px;
}
header .stred h4{
  font-size: 15px;
}
 }

 @media only screen and (max-width: 376px)
 {
 header{
  width: 375px;
  min-height: 840px;
 }
 footer{
    min-width: 375px;
 }
 header .stred h1{
  font-size: 22px;
}
header .stred h4{
  font-size: 15px;
}
.kontaktprava{
  min-width: 300px;
}
.kontaktlava{
  min-width: 300px;
}
 }



 @media only screen and (max-width: 361px)
 {
  header{
    width: 360px;
    min-height: 800px;
   }
   footer{
      min-width: 360px;
   }
   .socialne{
    padding: 20px 30px;
   }
   header .stred h1{
    font-size: 20px;
  }
  header .stred h4{
    font-size: 15px;
  }
 }


 @media only screen and (max-width: 321px)
 {
  header{
    width: 320px;
   }
   footer{
      min-width: 320px;
   }
   .socialne{
    padding: 20px 30px;
   }
   header .stred h1{
     font-size: 20px;
   }
 }


